.sec-anulados{
    width: 600px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    display: grid;
    place-items: center;
    grid-template-rows: auto 1fr;
}

.pedidos-anulados-lista{
    overflow-y: auto;
    scrollbar-width: none;
    grid-row: 2;
    height: auto;
    max-height: 80%;
    
}

.pedidos-anulados-title{
    margin-bottom: 0;
    grid-column: 2;
    margin-left: -50px;
}

.header-ped-anulados{
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center;
    width: 100%;
}

.volv-ped-anul{
    justify-self: left;
    width: 20px;
    height: 20px;
    margin: 10px 0 0 30px;
    padding: 0;
    background-color: #ffffff;
    border: none;
}

.volv-ped-anul img{
    margin: 0;
    height: 100%;
    width: 100%;
}
