.crear-producto-sec{
    width: 600px;
    height: 500px;
    background-color: #F3F2F2;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.4);
    display: grid;
    place-items: center;
}

.crear-producto-inputs{
    display: flex;
    flex-direction: column;
}

.inputs{
    margin-top: 0;
}

.form-crear-producto{
    display: contents;
}